name: GitHub Actions

on:
  push:
  schedule:
    - cron: "0 0 * * *"

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    container:
      image: alpine:3.18
    steps:
      - uses: actions/checkout@v3
      - run: apk add crystal libjpeg-turbo libjpeg-turbo-dev libspng libspng-dev libwebp libwebp-dev make openssl openssl-dev shards yaml yaml-dev
      - run: shards install
      - run: bin/ameba
      - run: crystal tool format --check
      - run: crystal spec
